$font-family: 'Poppins', sans-serif;
$font-size: 40px;

.container {
  margin-top: 25px;
  font-family: $font-family;
  padding: 10px;
  height: 250px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .question {
    margin-top: 10px;
    font-size: $font-size;
    width: 200px;
    text-align: left;
    position: static;
    line-height: 60px;
  }

  .text {
    font-size: 16px;
    padding-top: 10px;
    color: rgb(181, 188, 194);
  }

   .hashtag {
    text-align: center;
    font-size: 11px;
    padding: 10px;
    color: rgb(68, 134, 255);
    border-radius: 10px;
    width: 200px;
    background: rgb(234, 242, 255);
  }

  .button {
    margin-top: 20px;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 25px;
    background: #2B62EC;
    width: 120px;
  }

  .image {
    display: none
  }
}


@media screen and (min-width: 1280px) {
  .container {
    padding: 100px;
    position: absolute;
    left: 200px;
    .question {
      width: 600px;
    }
    .text {
      line-height: 2;
      width: 550px;
    }
    .image {
      display: block;
      position: absolute;
      left: 1000px;
    }
  }
}