@import "src/components/StartPanel/StartPanel.module";

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 300px;
  padding-left: 50px;
  width: 320px;
  text-align: center;

  .hashtag {
    padding: 10px;
    width: 100px;
  }

  .question {
    padding: 5px;
    text-align: center;
    font-size:24px;
    line-height: 40px;
    width: 250px;
  }

  .text{
    width: 300px;
    padding-left: 10px;
    color: black;
  }
}

@media screen and(min-device-width: 1280px) {

  .container{
    position: absolute;
    top: 400px;
    left: 800px;
  }
}