.container{
  display: flex;
  flex-direction: column;
  margin: 500px auto;
  align-items: center;


  .list{
    padding: 25px;
    width: 500px;
    overflow-y: scroll;
    height: 350px;
  }
  .heading{
    font-size: 20px;
    text-align: left;
    width: 66%;
  }
.time{
  padding-left: 5px;
}

.cont{
  font-size: 20px;
  margin-top: -18px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-left: 1010px;
}
}
